<h2>Working</h2>
<div class="vps">
  {{ partial "vp" (dict "id" "35366182") }}
  {{ partial "vp" (dict "id" "36219010") }}
  {{ partial "vp" (dict "id" "35311043") }}
  {{ partial "vp" (dict "id" "35356123") }}
  {{ partial "vp" (dict "id" "34610481") }}
</div>

<br>
<br>
<br>

<h2>Not Working</h2>
<div class="vps">
  {{ partial "vp" (dict "id" "38475472") }}
  {{ partial "vp" (dict "id" "38476012") }}
  {{ partial "vp" (dict "id" "38471618") }}
  {{ partial "vp" (dict "id" "38469782") }}
  {{ partial "vp" (dict "id" "38473917") }}
</div>