<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="googlebot" content="noodp" />
  <meta name="robots" content="index, follow" />
  <title>ESPN Video Player demo</title>
  <meta name="description" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="ESPN.com">
  <meta property="fb:app_id" content="116656161708917">
  <meta property="og:title" content="Blank Template">
  <meta property="og:type" content="article">
  <meta property="og:image" content="http://a.espncdn.com/photo/2017/0504/r206759_1600x800cc.jpg" />
  <meta name="twitter:site" content="espn">
  <meta name="twitter:image" content="http://a.espncdn.com/photo/2017/0504/r206759_1600x800cc.jpg">
  <meta name="twitter:card" content="summary">
  <meta property="og:url"
    content="http://www.espn.com/espn/feature/story/_/page/presents19337502/houston-rockets-coach-mike-dantoni-having-more-fun-ever">
  <link rel="canonical"
    href="http://www.espn.com/espn/feature/story/_/page/presents19337502/houston-rockets-coach-mike-dantoni-having-more-fun-ever">

  <!-- FONTS -->
  <!-- tungsten semibold -->
  <link rel="stylesheet" href="http://a.espncdn.com/prod/styles/pagetype/otl/tungsten/tungsten_600.css">

  <!-- tungsten bold -->
  <link rel="stylesheet" href="http://a.espncdn.com/prod/styles/pagetype/otl/tungsten/tungsten_700.css">

  <!-- publico banner roman-->
  <link rel="stylesheet" href="http://a.espncdn.com/prod/fonts/publico_v1.css">

  <!-- benton sans -->
  <link rel="stylesheet"
    href="http://a.espncdn.com/combiner/c?v=17&css=fonts/bentonsans.css,fonts/bentonsansmedium.css,fonts/bentonsansbold.css">
  <!-- END FONTS -->

  <!-- <link rel="stylesheet" type="text/css" media="screen" href="http://a.espncdn.com/prod/styles/video/2.15.0/espn-web-player-bundle.css"> -->
  <link rel=“stylesheet” type=“text/css” media=“screen” href=“https://a.espncdn.com/prod/styles/video/3.7.22/espn-web-player-bundle.css”>

  <!-- INTERNAL CSS GOES HERE -->
  <!-- <link rel="stylesheet" href="http://a.espncdn.com/combiner/c?v=17&css=pagetype/otl/tungsten/HCo_tungsten.css,fonts/bentonsans.css,fonts/bentonsansmedium.css,fonts/bentonsansbold.css"> -->
  <!-- END INTERNAL CSS -->

  <!-- CUSTOM CSS GOES HERE -->
  <meta name="msapplication-tap-highlight" content="no" />

  {{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "css/main.sass" | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ else }}
  {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
  {{ $styles := resources.Get "css/main.sass" | toCSS $cssOpts | postCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ end }}

  <!-- <link rel="stylesheet" type="text/css" href="assets/css/main.css"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- END CUSTOM CSS -->

  <script>var _sf_startpt = (new Date()).getTime();</script>
  <script type="text/javascript">var ceID = 19337502;</script>
  <style>
    div.mod-inline.video-player.full-width .OoyalaVideoPlayer {
      margin-top: 0;
    }

    #main-article {
      position: relative;
      top: 20px;
      padding-bottom: 20px;
    }
  </style>

  <script
    src="http://a.espncdn.com/combiner/c/2?js=jquery-1.8.3.min.js,plugins/jquery.metadata.js,plugins/jquery.pubsub.r5.js,plugins/jquery.subscribe.js,plugins/jquery.colorbox.1.3.14.js,plugins/json2.r3.js,plugins/jquery.hoverIntent.js,plugins/ba-debug-0.4.js,espn.l10n.r12.js,espn.core.duo.r55.js,espn.storage.r6.js,espn.p13n.r16.js,espn.geo.r4.js&minify=false&develop=true"></script>

  <!-- <script src="http://a.espncdn.com/combiner/c/2?js=video/2.15.0/espn.video.universal.min.js,lodash.min.js&minify=false"></script> -->
  <script src="https://a.espncdn.com/combiner/c/2?js=video/3.7.22/espn.video.min.js,lodash.min.js&minify=false"></script>

  <script
    src="http://a.espncdn.com/combiner/c/2?js=plugins/conditionizr.min.js,modernizr.custom.35142.js,grantland/grantland.core.js&minify=false&develop=true"></script>
  <script
    src="http://a.espncdn.com/combiner/c?js=plugins/conditionizr.min.js,modernizr.custom.35142.js,grantland/grantland.core.js,jquery.sharetools.r15-u4.js,plugins/waypoints.1.0.2.1.js,plugins/jquery.scrollTo-1.4.3.1-min.js,plugins/skrollr.min.js"></script>

  <!-- <script>var ad_site="espn.us.com.eticket",ad_zone="longform",ad_kvps="pgn=presents19337502;pgtyp=longform;sp=eticket;nav=true;",ad_swid="",ad_counter=1,ad_ord=Math.floor(9999999999*Math.random()),ad_seg="",ad_mnr=-1<document.cookie.indexOf("grif=1")?"t":"f",ad_ref="other",ad_sp="eticket",ad_pgtyp="longform",ad_pgn="presents19337502",ref=document.referrer,refsMap={"facebook.com":"facebook","twitter.com|t.co":"twitter","plus.url.google.com|plus.google.com":"googleplus","google.com":"google","bing.com":"bing","yahoo.com":"yahoo","espn.com":"espn"},refKey;for(refKey in refsMap)ref.match(refKey)&&(ad_ref=refsMap[refKey]);
      ad_kvps=ad_kvps+"ref="+ad_ref+";mnr="+ad_mnr+";";ad_swid=jQuery.cookie("SWID");"function"===typeof espn.core.ad_segments&&(ad_seg=espn.core.ad_segments(),null!=ad_seg&&""!=ad_seg&&(ad_kvps+=ad_seg));var ad_u="";null!=ad_swid&&""!=ad_swid&&(ad_u="swid="+ad_swid+";");var ad_breakpointRefresh = true;
    </script> -->

</head>

<body>

  <div id="skrollr-body">

    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" style="padding-bottom: 0px; padding-right: 0px; display: none;">
      <div id="cboxWrapper">
        <div>
          <div id="cboxTopLeft" style="float: left;"></div>
          <div id="cboxTopCenter" style="float: left;"></div>
          <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear:left">
          <div id="cboxMiddleLeft" style="float: left;"></div>
          <div id="cboxContent" style="float: left;">
            <div id="cboxLoadedContent" style="width:0; height:0; overflow:hidden" class=""></div>
            <div id="cboxLoadingOverlay" class=""></div>
            <div id="cboxLoadingGraphic" class=""></div>
            <div id="cboxTitle" class=""></div>
            <div id="cboxCurrent" class=""></div>
            <div id="cboxNext" class=""></div>
            <div id="cboxPrevious" class=""></div>
            <div id="cboxSlideshow" class=""></div>
            <div id="cboxClose" class=""></div>
          </div>
          <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear:left">
          <div id="cboxBottomLeft" style="float: left;"></div>
          <div id="cboxBottomCenter" style="float: left;"></div>
          <div id="cboxBottomRight" style="float: left;"></div>
        </div>
      </div>
      <div style="position:absolute; width:9999px; visibility:hidden; display:none"></div>
    </div>
    <div id="skrollr-body">
      <div id="toolbar">
        <h1 class="logo "><a title="ESPN.com" alt="ESPN.com" class="espn" target="_blank"
            href="https://www.espn.com">ESPN</a></h1>
        <ul class="mod-page-actions">
          <li class="social facebook-recommend"><a
              href="https://www.facebook.com/sharer.php?u=https%3A%2f%2fwww.espn.com%2fespn%2ffeature%2fstory%2f_%2fid%2f37812990%2fespn%2dmy%2dwish&t=ESPN+My+Wish"
              target="_new" rel="nofollow"><span class="sprite-page-actions facebook"></span><span
                class="label"></span></a><a class="count"
              href="https://www.facebook.com/sharer.php?u=https%3A%2f%2fwww.espn.com%2fespn%2ffeature%2fstory%2f_%2fid%2f37812990%2fespn%2dmy%2dwish&t=ESPN+My+Wish"
              target="_new" rel="nofollow">0</a></li>
          <li class="social twitter-tweet"><a
              href="https://twitter.com/intent/tweet?url=https%3A%2f%2fwww.espn.com%2fespn%2ffeature%2fstory%2f_%2fid%2f37812990%2fespn%2dmy%2dwish&text=ESPN+My+Wish"
              target="_new" rel="nofollow"><span class="sprite-page-actions twitter"></span><span
                class="label"></span></a><a class="count"
              href="https://twitter.com/intent/tweet?url=https%3A%2f%2fwww.espn.com%2fespn%2ffeature%2fstory%2f_%2fid%2f37812990%2fespn%2dmy%2dwish&text=ESPN+My+Wish"
              target="_new" rel="nofollow">0</a></li>
          <li class="social fb-comments"><a href="/espn/conversations/_/id/37812990/espn-my-wish" rel="nofollow"><span
                class="sprite-page-actions comments"></span><span class="label"></span></a><a class="count"
              href="/espn/conversations/_/id/37812990/espn-my-wish" rel="nofollow">0</a></li>
          <li class="espn-email"><a id="email-37812990" class="email"
              href="http://sendtofriend.espn.com/sendtofriend/SendToFriend?id=37812990" target="_new"
              rel="nofollow"><span class="sprite-page-actions email"></span><span class="label"></span></a></li>
        </ul>
      </div>
      <article id="main-article">
        <header id="main-header"></header>
        <section id="section-1" class="chapter-location">
          <div class="container">
            {{ partial "main.html" . }}
          </div>
        </section>
      </article>
    </div><!-- end skrollr-body -->

    <!-- CUSTOM JS GOES HERE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="../js/masonry.pkgd.js"></script> -->

    {{ $js := resources.Get "js/app.js" | babel | js.Build "main.js" | resources.Minify }}
    <script src="{{ $js.Permalink }}"></script>
    <!-- <script src="http://507f-2601-282-800-7ef0-2527-c1a1-12da-f6fd.ngrok.io/main.min.js"></script> -->
    <!-- END CUSTOM JS -->



</body>

</html>